<div class="session_wrapper">
  <h2><%= @movie_theatre.name + "-" + @screening_room.name %></h2>

  <div class="movie_seats">
    <p class="screen">银幕位置</p>
    <div id="seats_wrapper">
      <%= seat_table_tag(@movie_session, @screening_room) %>
    </div>
  </div>

  <div class="asides">
    <div id="session_order">
      <h3>我的订单</h3>
      <div id="order_info">
        <p>
          <span>影片</span>
          <%= content_tag :em, @movie_session.movie.title + " " + @movie_session.movie_edition %>
        </p>
        <p>
          <span>时间</span>
          <%= content_tag :em, @movie_session.screening_date.strftime("%Y-%m-%d %H:%M:%S") %>
        </p>
        <p>
          <span>票价</span>
          <%= content_tag :em, @movie_session.price.to_s + "元 / 张" %>
        </p>
        <p>
          <span>座位</span>
          <em id="info_choosed_seats"></em>
        </p>

        <p class="sub">
          票数<strong id="info_tickets_num">0</strong> 总计<span class="strong">￥</span><strong id="info_expense">0.0</strong>
        </p>
      </div>
    </div> <!-- end of #session_oder !-->
    <div class="confirm_area">
      <a href="#" class="btn-big btn-big-blue" id="submit_order">提交订单</a>
      <p>生成订单后，将为您保留座位15分钟，请根据订单付款。
出票成功后将不予退换。</p>
    </div>

    <div class="payment">
      <div class="mobile">
        <h3>手机号</h3>
        <div class="mobile_box" id="mobile_box_input">
          <p>将换票凭证短信发往以下手机</p>
          <input type="text"  id="order_mobile_input">
          <input type="button" class="btn btn-white" value="保存" id="btn_mobile_save">
        </div>
        <div class="mobile_box" id="mobile_box_label">
          <p>支付成功后，确认码会发送到此手机</p>
          <em id="order_mobile_label"></em>
          <a href="javascript:void(0);" id="btn_mobile_modify">修改</a>
        </div>
      </div> 
      <div class="pay-area">
          <%= simple_form_for SessionOrder.new, url: session_orders_path, method: :post do |f| %>
            <%= f.hidden_field :choosed_seats, id: :choosed_seats %>
            <%= f.hidden_field :expense, id: :expense %>
            <%= f.hidden_field :movie_session_id, id: :movie_sesson_id, value: @movie_session.id  %>
            <%= f.hidden_field :mobile %>
            <%= f.submit "在线付款", class: "btn-big btn-big-blue" %>
            <%= hidden_field_tag :session_unit_price, @movie_session.price  %>
          <% end %>
      </div> <!-- end of .pay-area -->
    </div> <!-- end of .payment -->
  </div> <!-- end of .asides -->
  
</div>
