<!DOCTYPE html>
<html>
<head>
  <title>LqMovie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= controller_stylesheet_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
