<!DOCTYPE html>
<html>
<head>
  <title>LqMovie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= controller_stylesheet_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <div class="nav-logo">
    <a href="<%= root_path() %>">趣看电影</a>
  </div>
</div>

<%= yield %>

  <%= javascript_include_tag "application" %>
  <%= controller_javascript_include_tag %>
</body>
</html>
